---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@sections/Hero.astro";
import History from "@sections/History.astro";
import Ingredients from "@sections/Ingredients.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Turríka">
    <Header className="slide__in-down" />
    <Hero />
    <History class="prueba">
        <p class="start animate-me" aria-hidden="true"><span>Dulce</span> y <span>queso</span></p>
        <p class="center animate-me">se <span>unieron</span></p>
        <p class="end animate-me" aria-hidden="true">junto al fuego</p>
        <p class="start animate-me">en manos</p>
        <p class="end animate-me">de <span>Turrialba</span></p>
    </History>
    <Ingredients />
    <History class="prueba">
        <p class="center animate-me">Pasó de <span>abuela</span></p>
        <p class="start animate-me">a <span>nieta</span></p>
        <p class="end animate-me">entre risas</p>
        <p class="center animate-me">y café</p>
        <p class="end animate-me">una <span>joya local</span></p>
    </History>
    <Footer />
</Layout>

<style>
    p:is(.start, .center, .end) {
        color: var(--secondary-500);
        font-size: 128px;
        line-height: 1.25;
        font-weight: 600;
    }

    p.start {
        text-align: start;
    }

    p.center {
        text-align: center;
    }

    p.end {
        text-align: end;
    }

    p:is(.start, .center, .end) > span {
        color: var(--primary-500);
        font-size: 128px;
    }

    /* .animate-me {
        color: red;
        font-size: 25px;
        box-sizing: border-box;
        padding: 5%;
        width: 100%;
        text-align: left;
        perspective: 500px;
    } */

    .animate-me {
    }

    a {
        color: var(--color-orangey);
    }
</style>
