---
type Props = {
    className?: "slide__in-down";
};

const { className } = Astro.props;
---

<header class={className}>
    <nav></nav>
    <div>
        <button>
            <span></span>
            <span></span>
        </button>
        <h1>Turríka</h1>
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 999;
    }

    header.slide__in-down {
        animation: slideInDown 0.5s ease-in-out;
        animation-delay: var(--slide-in-delay);
    }

    header > div {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
    }

    header > div > button {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 0.75rem;
        width: 75px;
        background-color: transparent;
        border: none;
    }

    header > div > button > span {
        height: 2px;
        background-color: var(--neutral-50);
    }

    header > div > button > span:first-child {
        width: 75%;
    }

    header > div > button > span:last-child {
        width: 100%;
    }

    header > div > h1 {
        color: var(--neutral-50);
        font-weight: 700;
        font-size: 64px;
    }

    @keyframes slideInDown {
        from {
            transform: translateY(-700px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
</style>
