---
import NewsletterForm from "@components/NewsletterForm.astro";
---

<section id="hero">
    <video width="100%" height="100dvh" preload="metadata" loop autoplay muted>
        <source src="/7186177_Nut_Nuts_1280x720.mp4" />
    </video>
    <article>
        <h3>Queso</h3>
        <h2>Chicharrones</h2>
        <NewsletterForm className="slide__in-left" />
    </article>
    <div class="corner__decoration-top">
        <span class="top__left"></span>
        <span class="top__right"></span>
    </div>
    <div class="corner__decoration-bottom">
        <span class="bottom__left"></span>
        <span class="bottom__right"></span>
    </div>
</section>

<style>
    section {
        position: relative;
        display: flex;
        align-items: end;
        width: 100%;
        min-height: 100dvh;
        z-index: 1;
        padding: 1rem;
        overflow: hidden;
    }

    section::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    section > video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    section > article {
        padding: 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr) auto;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            ". cheese . . . . . ."
            ". cheese . . form form form ."
            "pork-rinds pork-rinds pork-rinds pork-rinds pork-rinds pork-rinds pork-rinds pork-rinds";
        gap: 1rem;
        z-index: 1;
        place-items: center;
    }

    section > article > h2 {
        color: var(--neutral-50);
        font-size: 150px;
        text-align: center;
        grid-area: pork-rinds;
        animation: slideInUp 0.5s ease-in-out;
        animation-delay: var(--slide-in-delay);
    }

    section > article > h3 {
        writing-mode: sideways-lr;
        text-orientation: mixed;
        color: var(--primary-500);
        font-size: 120px;
        grid-area: cheese;
        animation: slideInRight 0.5s ease-in-out;
        animation-delay: var(--slide-in-delay);
    }

    .corner__decoration-top,
    .corner__decoration-bottom {
        position: absolute;
        left: 2rem;
        z-index: 3;
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: calc(100% - 4rem);
        height: 150px;
        pointer-events: none;
    }

    .corner__decoration-top {
        top: 2rem;
    }

    .corner__decoration-bottom {
        bottom: 2rem;
    }

    .corner__decoration-top > span,
    .corner__decoration-bottom > span {
        height: 100%;
        aspect-ratio: 1;
    }

    .top__left {
        border-top: 1px solid var(--neutral-50);
        border-left: 1px solid var(--neutral-50);
        animation: slideInTopLeft 0.5s ease-in-out;
        animation-delay: var(--slide-in-delay);
    }

    .top__right {
        border-top: 1px solid var(--neutral-50);
        border-right: 1px solid var(--neutral-50);
        animation: slideInTopRight 0.5s ease-in-out;
        animation-delay: var(--slide-in-delay);
    }

    .bottom__left {
        border-bottom: 1px solid var(--neutral-50);
        border-left: 1px solid var(--neutral-50);
        animation: slideInBottomLeft 0.5s ease-in-out;
        animation-delay: var(--slide-in-delay);
    }

    .bottom__right {
        border-bottom: 1px solid var(--neutral-50);
        border-right: 1px solid var(--neutral-50);
        animation: slideInBottomRight 0.5s ease-in-out;
        animation-delay: var(--slide-in-delay);
    }

    @keyframes slideInTopLeft {
        from {
            transform: translate(-100%, -100%);
            opacity: 0;
        }
        to {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes slideInTopRight {
        from {
            transform: translate(100%, -100%);
            opacity: 0;
        }
        to {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes slideInBottomLeft {
        from {
            transform: translate(-100%, 100%);
            opacity: 0;
        }
        to {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes slideInBottomRight {
        from {
            transform: translate(100%, 100%);
            opacity: 0;
        }
        to {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        from {
            transform: translateX(-700px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInUp {
        from {
            transform: translateY(700px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
</style>

<script src="../scripts/handleHero.ts"></script>
