---

---

<section class="history">
    <div>
        <slot />
    </div>
</section>

<style>
    section {
        padding: 1rem;
        min-height: 100dvh;
        background-color: var(--neutral-900);
        display: grid;
        place-items: center;
    }

    section > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0;
    }
</style>

<script src="../scripts/handleHistory.ts"></script>
